.nav-link {
    color: #3b3c3fdc; /* Warna teks teal */
    font-weight: 500; /* Medium font-weight */
    transition: color 0.3s ease, background-color 0.3s ease; /* Efek transisi untuk warna teks dan latar belakang */
  }
  
  .nav-link:hover,
  .selected {
    color: white; /* Warna teks saat hover */
    background-color: #38b2ac; /* Warna latar belakang saat hover */
    padding: 4px 8px; /* Padding saat hover untuk menambah ruang di sekitar teks */
    border-radius: 4px; /* Membuat sudut membulat */
  }

  span .relative {
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #4dc0b5 50%, #4b4a4adc 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 20px 0; /* Menambahkan jarak atas dan bawah */
  }
  
  /* Custom styles */
  nav .fixed {
    display: flex;
  }

  @media only screen and (max-width: 768px) {
    .menu-list {
      display: flex !important;
    }
    nav .fixed {
      display: none;
    }
  }